@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

/* =-=-=-=-=-=-=-=-=-=-= GENERAL RULES =-=-=-=-=-=-=-=-=-=-=-=-= */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Exo", sans-serif;
}

body {
   color: #666666;
}

a {
   text-decoration: none;
}

p {
   text-transform: uppercase;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 25px;
   font-size: 0.9em;
}

/* =-=-=-=-=-=-=-=-=-=-= GRID CONTAINER =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.grid-container {
   display: grid;
   grid-auto-columns: 100px 1fr 1fr;
   grid-auto-rows: auto;
   grid-template-areas:
      "head head head"
      "nav tab search"
      "nav alert alert"
      "nav chart1 chart1"
      "nav chart2 chart3"
      "nav socials socials"
      "nav new-mems recent"
      "nav message settings";
}

/* =-=-=-=-=-=-=-=-=-=-= GRID HEADER =-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header {
   grid-area: head;
   display: flex;
   height: 75px;
   font-size: 1.3em;
   color: #ffffff;
   background-color: #7477bf;
}

.header-maldekstra {
   display: flex;
   align-items: center;
   padding-left: 0.5em;
}

.your {
   font-weight: 800;
   letter-spacing: 1.5px;
}

.trademark {
   font-size: 0.7em;
}

.header-dekstra {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: center;
   width: 86%;
}

.ico-bell:hover {
   transform: rotate(45deg);
}

.ico-bell {
   transform-origin: 50% 50%;
   transition: transform 0.3s ease-out;
   height: 1em;
   width: 1em;
   margin-right: 10px;
}

.msg-dot {
   font-size: 0.6em;
   color: #7477bf;
   background-color: #81c98f;
   border-radius: 50%;
   height: 18px;
   width: 20px;
   text-align: center;
   margin-left: 8px;
   margin-top: -38px;
   z-index: 5;
}

hr {
   width: 0px;
   height: 2em;
   margin-right: 15px;
   margin-left: 15px;
}

.avatar {
   height: 36px;
   width: 36px;
   border-radius: 50%;
}

.user-name {
   font-size: 0.6em;
   padding-left: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= NAV BAR =-=-=-=-=-=-=-=-=-=-= */
.navbar {
   grid-area: nav;
   background-color: #4d4c72;
}

#ico-dashboard,
#ico-members,
#ico-visits,
#ico-settings {
   display: flex;
   height: 35px;
   width: 100px;
   min-width: 35px;
   min-height: 35px;
   padding-left: 12px;
   padding-right: 14px;
   margin: 15px auto 35px auto;
   opacity: 0.4;
}

#ico-dashboard {
   border-left: 3px solid #82d67d;
   border-radius: 3px;
   opacity: 1;
}

/* =-=-=-=-=-=-=-=-=-=-= ALERT BAR =-=-=-=-=-=-=-=-=-=-= */

.alert-bar {
   grid-area: alert;
   font-size: 0.9em;
   color: #ffffff;
   background-color: #7377bf;
   vertical-align: middle;
   line-height: 38px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 5px;
   margin-top: 12px;
   margin-left: 20px;
   margin-right: 20px;
}

.alert {
   font-size: 0.9em;
   font-weight: bold;
}

.close-btn {
   float: right;
   font-size: 2em;
   cursor: default;
}

.close-btn:hover {
   color: #b2b1b2;
}

/* =-=-=-=-=-=-=-=-=-= TAB and SEARCH =-=-=-=-=-=-=-=-= */

.tab-wrapper {
   display: flex;
}

.tab {
   grid-area: tab;
   font-size: 1.2em;
   height: 3em;
   line-height: 3em;
   background-color: white;
   padding-left: 1em;
   border-right: 1px solid #b2b1b2;
   width: 52%;
}

.tab-filler {
   background-color: #fbfbfb;
   border-bottom: 1px solid #b2b1b2;
   width: 100%;
}

.search-wrapper {
   border-bottom: 1px solid #b2b1b2;
   background-color: #fbfbfb;
}

.search {
   grid-area: "search";
   line-height: 3em;
}

.inpt-search {
   position: absolute;
   left: calc(100% - 320px);
   height: 2.8em;
   line-height: 2.8em;
   width: 300px;
   font-size: 1em;
   background-image: url("/images/mag-glass.png");
   background-size: 18px;
   background-repeat: no-repeat;
   background-position: right;
   background-position-x: calc(100% - 10px);
   outline: none;
   padding-left: 12px;
   border: 1px solid #dbdbdb;
   border-radius: 5px;
   margin-top: 6px;
}

/* =-=-=-=-=-=-=-=-=-=-= CHARTS =-=-=-=-=-=-=-=-=-=-=-= */
.chart-options {
   display: flex;
   position: relative;
   top: 2.2em;
}

.chart-selector {
   display: flex;
   justify-content: flex-end;
   flex-wrap: nowrap;
   align-items: center;
   margin-right: 20px;
   list-style-type: none;
}

.chart-selector li {
   font-size: 0.75em;
   font-weight: bold;
   letter-spacing: 1.3px;
   color: #666666;

   background-color: #81c98f;
   padding: 5px 10px 5px 10px;
   border-radius: 25px;

   margin-right: 10px;
}

.lineChart {
   grid-area: chart1;
   color: #666666;
   width: 100%;
   max-height: 230px;
   margin-bottom: 80px;
}

.barChart {
   grid-area: chart2;
   color: #666666;
   background-color: #ffffff;
   border: 1px solid #d8d8d7;
}

.donutChart {
   grid-area: chart3;
   color: #666666;
   background-color: #ffffff;
   padding-bottom: 1.2em;
   border: 1px solid #d8d8d7;
}
/* =-=-=-=-=-=-=-=-=-= END CHARTS -=-=-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-= SOCIAL STATS =-=-=-=-=-=-=-=-=-=-= */
.social-stats {
   grid-area: socials;
   display: grid;
   grid-auto-columns: 1fr 1fr 1fr;
   grid-template-areas:
      "s-stats s-stats s-stats"
      "s-maldekstro s-mezo s-dekstro";
   grid-gap: 25px;
   color: #7377bf;
   padding-bottom: 3em;
   border: 1px solid #d8d8d7;
}

/* The h2 title of this box */
.stats {
   grid-area: s-stats;
   color: #666666;
   margin-top: 1.2em;
}

/* The twitter box */
.social-maldekstro {
   grid-area: s-maldekstro;
   margin-left: 1.4em;
}

/* the facebook box */
.social-mezo {
   grid-area: s-mezo;
}

/* the google box */
.social-dekstro {
   grid-area: s-dekstro;
   margin-right: 1.4em;
}

.social-maldekstro,
.social-mezo,
.social-dekstro {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto;
   grid-template-areas: "ico s-media s-media" "ico num num";
   background-color: #fbfbfb;
   border: 1px solid #d1d1d1;
}

.ico-twit,
.ico-fb,
.ico-goog {
   grid-area: ico;
   width: 72px;
   height: 72px;
   fill: #fefefe;
   background-color: #7377bf;
   border-radius: 50%;
   padding: 15px;
   margin: 15px;
}

/* social media titles inside boxes */
.social-media {
   grid-area: s-media;
   font-size: 1.2em;
   margin-top: 20px;
}

/* number inside social media boxes */
.num {
   grid-area: num;
   font-size: 2em;
   font-weight: 400;
   color: #666666;
   margin-top: -15px;
}
/* =-=-=-=-=-=-= END OF SOCIAL STATS =-=-=-=-=-=-=-=-=-=-=-=-= */

.new-members {
   grid-area: new-mems;
   /* background-color: #e2e3f6;
    border: 1px solid #d8d8d7; */
}

.recent-activity {
   grid-area: recent;
   background-color: #e2e3f6;
   border: 1px solid #d8d8d7;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-= MESSAGE USER =-=-=-=-=-=-=-=-=-=-=-= */
.message-user {
   grid-area: message;
   border: 1px solid #d8d8d7;
}

.search-for-user,
.message-to-user,
.btn-send {
   font-size: 1em;
   background-color: #fbfbfb;
   width: 85%;
   outline: none;
   padding: 0.5em 0 0.5em 1em;
   border-radius: 5px;
   border: 1px solid #d1d1d1;
   margin: 0.4em 0 0.4em 1.5em;
}

::placeholder {
   color: #bbbbbb;
}

.message-to-user {
   height: 120px;
   margin-bottom: 0.4em;
   resize: none;
}

.btn-send {
   text-transform: uppercase;
   color: #ffffff;
   background-color: #7377bf;
   padding-left: 0;
   margin-bottom: 50px;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-= END OF MESSAGE USER =-=-=-=-=-=-=-=-=-= */

.settings {
   grid-area: settings;
   border: 1px solid #d8d8d7;
}

.switch-wrapper {
   display: grid;
   grid-auto-columns: 200px 1fr;
   grid-template-areas:
      "label1  switch1"
      "label2   switch2";
}
.onoffswitch {
   grid-area: "switch1";
}

.onoffswitch2 {
   grid-area: "switch2";
}

.switch-label-1 {
   grid-area: "label1";
}

.switch-label-2 {
   grid-area: "label2";
}

.switch-label-1,
.switch-label-2 {
   font-size: 14px;
   margin-left: 12px;
   padding-top: 8px;
   padding-left: 1em;
   margin-bottom: 2.7em;
}

.onoffswitch,
.onoffswitch2 {
   position: relative;
   width: 90px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.onoffswitch-checkbox,
.onoffswitch-checkbox2 {
   display: none;
}
.onoffswitch-label,
.onoffswitch-label2 {
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #999999;
   border-radius: 20px;
}
.onoffswitch-inner,
.onoffswitch-inner2 {
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after,
.onoffswitch-inner2:before,
.onoffswitch-inner2:after {
   display: block;
   float: left;
   width: 50%;
   height: 30px;
   padding: 0;
   line-height: 30px;
   font-size: 14px;
   color: white;
   font-weight: bold;
   box-sizing: border-box;
}
.onoffswitch-inner:before,
.onoffswitch-inner2:before {
   content: "ON";
   padding-left: 10px;
   background-color: #7377bf;
   color: #ffffff;
}
.onoffswitch-inner:after,
.onoffswitch-inner2:after {
   content: "OFF";
   padding-right: 10px;
   background-color: #eeeeee;
   color: #999999;
   text-align: right;
}
.onoffswitch-switch,
.onoffswitch-switch2 {
   display: block;
   width: 18px;
   margin: 6px;
   background: #ffffff;
   position: absolute;
   top: 0;
   /* BOTTOM MUST MATCH MARGIN-BOTTOM in switch-label rule to remain round */
   bottom: 2em;
   right: 56px;
   border: 2px solid #999999;
   border-radius: 22px;
   transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner,
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
   margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch,
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
   right: 0px;
}

.timezone {
   font-size: 0.7em;
   background-color: #fbfbfb;
   width: 85%;
   height: 2.8em;
   outline: none;
   border-radius: 5px;
   margin: 1.4em 0 0.4em 1.5em;
}

.btn-save,
.btn-cancel {
   font-size: 1em;
   color: #ffffff;
   background-color: #7377bf;
   text-transform: uppercase;
   width: 40%;
   padding-top: 8px;
   padding-bottom: 8px;
   border-radius: 5px;
   margin-top: 0.8em;
   margin-left: 1.1em;
}

.btn-cancel {
   background-color: #b2b1b2;
}
/* =-=-=-=-=-=-=-=-=-=-=-= END OF GRID ITEMS =-=-=-=-=-=-=-=-=-=-=-=-= */
